@page "/"
@using PortfolioRisk.Core
@using System.Collections.ObjectModel
@using PortfolioBuilder.Models
@using PortfolioRisk.Core.DataSourceService
@using PortfolioRisk.Core.DataTypes

<EditForm Model="@ApplicationState.Config" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <h1 class="text-center">History Time Range</h1>
    <p class="text-center"><InputDate @bind-Value="ApplicationState.Config.StartDate" />-<InputDate @bind-Value="ApplicationState.Config.EndDate" /></p>

    <div class="row">
        <div class="col-8">
            <p>Enter the constituents of your portfolio below; 
                Make sure the currency matches the return value as indicated from <a href="https://ca.finance.yahoo.com/">Yahoo Finance</a>.</p>
            <p>Total Allocation (in CAD): <InputNumber @bind-Value="ApplicationState.Config.TotalAllocation"/></p>

            @* <button type="submit">Submit</button> *@

            @foreach (AssetDefinition definition in ApplicationState.Assets)
            {
                <p>
                    <InputText @bind-Value="definition.Symbol"/>
                    <InputSelect class="form-select" @bind-Value="definition.Currency">
                        <option value="CAD">CAD</option>
                        <option value="USD">USD</option>
                    </InputSelect>
                    <InputNumber @bind-Value="definition.Weight"/>
                    <a href="@GeneratePreviewLink(definition)" class="btn btn-warning" target="_blank" rel="noopener noreferrer" @onclick="UpperTextsCases">Preview</a>
                    <button type="button" class="btn btn-danger" @onclick="() => RemoveEntry(definition)">Remove</button>
                </p>
            }

            <button type="button" class="btn btn-primary" @onclick="AddEntry">Add</button>

            <p>When you are done, go to <NavLink class="link-dark" href="fetchdata">
                                                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                                                    </NavLink>.</p>
        </div>
        <div class="col-4">
            <h3>Factors</h3>
            <p></p>
            @foreach (AssetDefinition definition in ApplicationState.Factors)
            {
                <span>@definition.Symbol (@definition.Currency): @definition.Weight</span><hr/>
            }
        </div>
    </div>
</EditForm>

@code{
    #region Events
    protected override void OnInitialized()
    {
        if (ApplicationState.Assets == null || ApplicationState.Assets.Count == 0)
        {
            ApplicationState.Assets = new HashSet<AssetDefinition>();
            ApplicationState.Factors = new HashSet<AssetDefinition>();
        
            ApplicationState.AddPortfolioAsset(new AssetDefinition("SPY", AssetCurrency.USD, 1));
            ApplicationState.AddPortfolioAsset(new AssetDefinition("XIU", AssetCurrency.CAD, 1));
        }
    }
    private void AddEntry()
    {
        ApplicationState.AddPortfolioAsset(new AssetDefinition("Asset Name", AssetCurrency.CAD, 1));
        UpperTextsCases();
    }

    private void RemoveEntry(AssetDefinition assetDefinition)
    {
        ApplicationState.RemovePortfolioAsset(assetDefinition);
        UpperTextsCases();
    }
    #endregion

    #region Routines
    private void UpperTextsCases()
    {
        foreach (AssetDefinition assetDefinition in ApplicationState.Assets)
        {
            if(assetDefinition.Symbol != null)
                assetDefinition.Symbol = assetDefinition.Symbol.ToUpper();
        }
    }
    #endregion

    #region Helpers
    private object GeneratePreviewLink(AssetDefinition definition)
    {
        if (string.IsNullOrEmpty(definition.Symbol)) return "#";

        DateTime configStartDate = ApplicationState.Config.StartDate!.Value;
        DateTime configEndDate = ApplicationState.Config.EndDate!.Value;
        return $"https://ca.finance.yahoo.com/quote/{definition.Symbol}/history?period1={YahooFinanceHelper.ConvertTimeFormat(configStartDate)}&period2={YahooFinanceHelper.ConvertTimeFormat(configEndDate)}&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true";
    }
    #endregion

    #region Not Used
    private void HandleValidSubmit()
    {
    // Process the valid form
    }
    #endregion
}